<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561666207752-0ufpnr20e2th075u1u94im3b8lp5bj7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561666207752-0ufpnr20e2th075u1u94im3b8lp5bj7m</string>
	<key>API_KEY</key>
	<string>AIzaSyBH8GPnzHS-TPMotW6YfTOLR0jY2FmwIdw</string>
	<key>GCM_SENDER_ID</key>
	<string>561666207752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webTest2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>web-test2-7a646</string>
	<key>STORAGE_BUCKET</key>
	<string>web-test2-7a646.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561666207752:ios:735107d850f733450ba1bd</string>
</dict>
</plist>